@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


html, body {
    margin: 0;
    padding: 0;
    background: lightyellow;    
    font-family: 'Jua', cursive;
    text-align: center;
}
header{
    background-color: aqua;
height: 300px;
h1 {
    font-size: 100px;
}
h3{
    font-size: 70px;
}
}
footer{
    h3{
        font-size: 50px;
    }
}


.detail{
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    main {
        font-size: 20px;
    }
    background: url('https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1721&q=80') no-repeat center center; background-size: cover;
}
